# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Project specific
data/raw/
data/processed/
models/saved/

# Logs
*.log
logs/
scripts/model_serving/logs/
scripts/model_serving/logs/*.log 