# Python
__pycache__/
*.py[cod]
*$py.class
venv/

mlartifacts/
models/
*.dylib
*.pt
*.pth
*.safetensors
# Jupyter Notebooks
.ipynb_checkpoints
models/
# Project specific
data/raw/
data/processed/
models/saved/
mlruns/
mlartifacts/
*.pt
*.safetensors
*.csv
*.tgz
data/
models/
# Logs
*.log
logs/
scripts/model_serving/logs/
scripts/model_serving/logs/*.log 