# Core libraries
numpy>=1.24.0
pandas>=2.0.0
scikit-learn>=1.2.0
torch>=2.0.0
transformers>=4.30.0
datasets>=2.12.0
safetensors>=0.3.1

# For notebook experimentation
jupyter

# For model serving later
fastapi>=0.100.0
uvicorn>=0.22.0
pydantic>=2.0.0
python-multipart>=0.0.6
tqdm>=4.65.0

# For load testing
locust>=2.15.1

# Added flake8
flake8==7.0.0 